     .baza{
        width:400px;
        height:300px;
        background-color: #EBF6F0;
        position:relative;
     }
     
     .trok1{
        width:0px;
        height:0px;
        position:absolute;
        border-top:150px solid transparent;
        border-bottom:150px solid transparent;

        border-right:130px solid #4A9A86;
         left:270px;
     }

       .trok2{
        width:0px;
        height:0px;
        position:absolute;
        border-top:150px solid transparent;
        border-bottom:150px solid transparent;

        border-left:130px solid #4A9A86;
       
     }

     .krug{
       width:166px;
       height:166px;
       position:absolute;
       border-radius:50%;
       background-color: #4A9A86;
       left:115px;
         top:67px;
     }

     .kvad1{
        height:100px;
        width:100px;
        position:absolute;
        left:85px;
        top:100px;
        background-color: #4A9A86;
    }
    
     .kvad2{
        height:100px;
        width:100px;
        position:absolute;
        left:230px;
        top:100px;
        background-color: #4A9A86;
     }

     .viz{
      height:300px;
      width:500px;
      background-color: white;
    border: 5px solid black;
     }
     p{
         text-align: center;
     }
     h3{
         text-align: center;
     }